mixin about()
  section#about.about-section
    .container
      .about-card
        header.about-card__header
          h2 About me
        .about-card__info
          p I am a retired mechanical engineer with 30 years of experiance in the automotive industry.  I have always enjoyed working on mechanical components and have felt that mechanical things are a form of art.
          blockquote
            p Therefore, it is not surprising that even patents refere to the new inventions as the "Art".
          p I started working on washers and dryers when my machine had a problem and I figured out how to fix it.  I really enjoyed it!  After that, I would fix machines for my friends and started buying machines and diagnosing them so my kids could sell the good parts on Ebay.  In the process of trying to show my kids how to run a buisness, I picked up the skills to run my own.  
          blockquote
            p I take on very few jobs so I can give you my undivided attention when I am working for you!
          p.about-card__info-status
            span Currently servicing:
            |  Dearborn, Dearborn Heights, Inkster, and Garden City only
