mixin contacts()
  #contacts.contacts-section
    .container
      section.contact-card
        header.contact-card__header
          h2 Contact information
        .contact-info
          .contact-info__logo AR
          .contact-info__group
            .contact-info__additional
              p Questions?
              p Comments?
              p Consultations?
            .contact-info__vcard.vcard
              h4.fn.org Artful Repair
              p.role.title Front Load Washing Machine And Dryer Repair
              p.icon.icon_location
                a.adr.js-anchor(href="#gmap")
                  span.country-name USA
                  | ,&nbsp;
                  span.locality Dearborn, MI
              p.icon.icon_mail
                a.email(href="john.doe@example.com") artful.repair@gmail.com
              p.icon.icon_phone
                a.email(href="tel:3133848833") 313-384-8833
    #gmap.gmap
