mixin home()
  section#home.home-section
    .home-section__bg
    .home-section__overlay
      .container
        header.home-section__header
          h1 Artful Repair
          h2 Front Load Washer and Dryer Repair
          h2 313-384-8833
