mixin process()
  section#process.common-section
    .container
      header.common-section__header
        h2 How it works
      .grid-container
        ul.process
          li.process__step.process__step_research
            .process__step-icon.icon.icon_research.is-active
          li.process__step-info.process__step-info_research.is-active
            h3
              span Step 1
              |  &mdash; Contact Me
            p Feel free to contact me through my phone or email, and I'd be happy to see if my skills are a match for your appliance issues.
          li.process__step.process__step_develop
            .process__step-icon.icon.icon_develop
          li.process__step-info.process__step-info_develop
            h3
              span Step 2
              |  &mdash; Schedule an Appointment
            p If this is the right solution for you, we can schedule an appointment for me to come handle your appliance(s).
          li.process__step.process__step_deploy
            .process__step-icon.icon.icon_deploy
          li.process__step-info.process__step-info_deploy
            h3
              span Step 3
              |  &mdash; I'll Go To Work
            p During the scheduled appointment, I'll go to work fixing your machine.
          li.process__step.process__step_deliver
            .process__step-icon.icon.icon_deliver
          li.process__step-info.process__step-info_deliver
            h3
              span Step 4
              |  &mdash; Enjoy Your Newly Functioning Appliance(s)!