mixin projects()
  section#projects.common-section
    header.common-section__header
      h2 Projects

    .projects-wrap
      .grid-container
        .projects
          figure.projects__item
            img(src="static/images/projects/WasherDrum2.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") I can replace a broken shaft.
          figure.projects__item
            img(src="static/images/projects/Bearings.jpg" alt="Donec lobortis, est iaculis rutrum feugiat")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") I can install new bearings and seal
          figure.projects__item
            img(src="static/images/projects/Dryer.jpg" alt="Duis feugiat, metus eu ullamcorper accumsan, massa risus dictum nisi")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") When I am done with your dryer it will be lint free
          figure.projects__item
            img(src="static/images/projects/Board.jpg" alt="Donec non ligula imperdiet, tincidunt quam ut, pellentesque nisi")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") Sometimes components can be replaced on the control board
