mixin services()
  section#services.common-section
    .container
      header.common-section__header
        h2 Repair Services
      .grid-container
        ul.services.services_advisory
          li.services__item.icon.icon_strategy
            h4 Washing Machines (Front-loading Only)
            p I specialize on LG and Samsung machines but I have worked on all brands for the last 10 years. I can change all components on a washer including the bearings and the shaft.  I charge a flat fee plus the cost of the parts so you will always know what the cost will be! 
        ul.services.services_pm
          li.services__item.icon.icon_support
            h4 Dryers
            p I also repair all brands of dryers.  Once again, I charge a flat fee plus the cost of the parts required.  Also, no matter what I fix on your dryer, I will vaccum the inside and check all components for proper function.
        .advantages
          h2 Why choose Artful Repair?
          blockquote
            p I will always show up at our scheduled time, your time and mine are important. I wouldn't want to wait for someone from 12 to 4...
            p I will fix your machine like it was my own!  I will advise you on new or used parts to help you determine what make sense for you. In some cases, I can repair your part making it as good as new and saving you money! 
            p I have 10 years of experience fixing machines. In that time I have seen and fixed a lot of issues.
            p If you want to learn how to fix the machine yourself you can hang out with me while I do the work. I love to teach!      
            cite J Arteaga
