mixin testimonials()
  section#testimonials.common-section
    .container
      header.common-section__header
        h2 Testimonials
      .grid-container
        ul.testimonials
          li.testimonials__item
            img(src="static/images/logos/placeholder.png" alt="Lorem ipsum dolor sit amet")
            blockquote
              p.icon.icon_ql Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit orci est, id ultrices neque pretium quis. Quisque ut tortor eros. Curabitur id pellentesque dolor. Vivamus eu ullamcorper dolor, sit amet fringilla justo. Sed id eros interdum, ullamcorper diam ut, maximus lectus. Donec dapibus libero a euismod rutrum. Praesent at est ipsum.
              cite
                span.name Giles Posture,
                span.role  CompanyName
        ul.testimonials
          li.testimonials__item
            img(src="static/images/logos/placeholder.png" alt="Lorem ipsum dolor sit amet")
            blockquote
              p.icon.icon_ql Fusce aliquam lorem in ligula maximus, et fermentum velit ultricies. Sed quis pretium metus. Donec convallis pretium erat in varius. Sed ullamcorper, lacus vel euismod euismod, justo nibh tristique urna, ac sollicitudin nunc elit eget sem.
              cite
                span.name Benjamin Evalent,
                span.role  CompanyName
