mixin testimonials()
  section#testimonials.common-section
    .container
      header.common-section__header
        h2 Testimonials
      .grid-container
        ul.testimonials
          li.testimonials__item
            img(src="static/images/logos/Oak.png" alt="Lorem ipsum dolor sit amet")
            blockquote
              p.icon.icon_ql Mr. Arteaga came out to fix our front loader washing machine. He was responsive and knowledgeable at a reasonable cost.
              cite
                span.name Lloyd B.
                span.role
        ul.testimonials
          li.testimonials__item
            img(src="static/images/logos/Oak.png" alt="Lorem ipsum dolor sit amet")
            blockquote
              p.icon.icon_ql Mr. Arteaga fixed my dryer and washer on couple of occasions. Both times he showed up on time. His expertise about home appliances is impressive with great work ethic. He explained the problems in detail before fixing it. I will definitely call him again if needed and highly recommend him to friends and family.
              cite
                span.name Umar F.
                span.role
